# Horse Racing Classification
### Jamie Heneghan, Melka Konshie, Kyle Duffy, Walter Robson, Sam Allison
### CSE 40647

**Getting the Data**

In [33]:
import pandas as pd
import numpy as np
runs = pd.read_csv("./runs.csv")
races = pd.read_csv("./races.csv")

print(runs.shape)
print(races.shape)

(79447, 37)
(6349, 37)

In [34]:
runs

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,position_sec1,position_sec2,position_sec3,position_sec4,position_sec5,position_sec6,behind_sec1,behind_sec2,behind_sec3,behind_sec4,behind_sec5,behind_sec6,time1,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,1,3917,10,0.0,8.00,3,AUS,Gelding,60,--,1020.0,133,7,6,4,6,10.0,NaN,NaN,2.00,2.00,1.50,8.00,NaN,NaN,13.85,21.59,23.86,24.62,NaN,NaN,83.92,9.7,3.7,118,2
1,0,2,2157,8,0.0,5.75,3,NZ,Gelding,60,--,980.0,133,12,12,13,13,8.0,NaN,NaN,6.50,9.00,5.00,5.75,NaN,NaN,14.57,21.99,23.30,23.70,NaN,NaN,83.56,16.0,4.9,164,57
2,0,3,858,7,0.0,4.75,3,NZ,Gelding,60,--,1082.0,132,8,3,2,2,7.0,NaN,NaN,1.00,1.00,0.75,4.75,NaN,NaN,13.69,21.59,23.90,24.22,NaN,NaN,83.40,3.5,1.5,137,18
3,0,4,1853,9,0.0,6.25,3,SAF,Gelding,60,--,1118.0,127,13,8,8,11,9.0,NaN,NaN,3.50,5.00,3.50,6.25,NaN,NaN,14.09,21.83,23.70,24.00,NaN,NaN,83.62,39.0,11.0,80,59
4,0,5,2796,6,0.0,3.75,3,GB,Gelding,60,--,972.0,131,14,13,12,12,6.0,NaN,NaN,7.75,8.75,4.25,3.75,NaN,NaN,14.77,21.75,23.22,23.50,NaN,NaN,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,10,1238,6,0.0,1.25,5,AUS,Gelding,87,TT/V,1191.0,122,6,7,7,5,6.0,NaN,NaN,4.25,3.75,2.50,1.25,NaN,NaN,26.14,23.98,23.53,22.52,NaN,NaN,96.17,99.0,NaN,73,40
79443,6348,11,985,7,0.0,2.25,5,NZ,Gelding,84,--,1070.0,119,4,5,5,6,7.0,NaN,NaN,2.25,2.50,2.75,2.25,NaN,NaN,25.82,24.10,23.77,22.61,NaN,NaN,96.30,99.0,NaN,164,63
79444,6348,12,3147,10,0.0,3.00,5,NZ,Gelding,83,H/XB,1148.0,120,1,11,11,10,10.0,NaN,NaN,7.00,7.00,4.75,3.00,NaN,NaN,26.58,24.06,23.37,22.43,NaN,NaN,96.44,99.0,NaN,111,68
79445,6348,13,1982,8,0.0,2.50,3,AUS,Gelding,82,--,1266.0,119,12,10,10,11,8.0,NaN,NaN,7.00,6.75,5.00,2.50,NaN,NaN,26.58,24.02,23.45,22.29,NaN,NaN,96.34,4.6,NaN,118,95
79446,6348,14,3491,11,0.0,4.25,3,IRE,Gelding,81,--,1092.0,118,2,3,3,4,11.0,NaN,NaN,1.50,1.50,1.75,4.25,NaN,NaN,25.70,24.06,23.77,23.10,NaN,NaN,96.63,99.0,NaN,27,4

In [35]:
races.head()

,race_id,date,venue,race_no,config,surface,distance,going,horse_ratings,prize,race_class,sec_time1,sec_time2,sec_time3,sec_time4,sec_time5,sec_time6,sec_time7,time1,time2,time3,time4,time5,time6,time7,place_combination1,place_combination2,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
0,0,1997-06-02,ST,1,A,0,1400,GOOD TO FIRM,40-15,485000.0,5,13.53,21.59,23.94,23.58,NaN,NaN,NaN,13.53,35.12,59.06,82.64,NaN,NaN,NaN,8,11,6.0,NaN,36.5,25.5,18.0,NaN,8,121.0,NaN,NaN
1,1,1997-06-02,ST,2,A,0,1200,GOOD TO FIRM,40-15,485000.0,5,24.05,22.64,23.70,NaN,NaN,NaN,NaN,24.05,46.69,70.39,NaN,NaN,NaN,NaN,5,13,4.0,NaN,12.5,47.0,33.5,NaN,5,23.5,NaN,NaN
2,2,1997-06-02,ST,3,A,0,1400,GOOD TO FIRM,60-40,625000.0,4,13.77,22.22,24.88,22.82,NaN,NaN,NaN,13.77,35.99,60.87,83.69,NaN,NaN,NaN,11,1,13.0,NaN,23.0,23.0,59.5,NaN,11,70.0,NaN,NaN
3,3,1997-06-02,ST,4,A,0,1200,GOOD TO FIRM,120-95,1750000.0,1,24.33,22.47,22.09,NaN,NaN,NaN,NaN,24.33,46.80,68.89,NaN,NaN,NaN,NaN,5,3,10.0,NaN,14.0,24.5,16.0,NaN,5,52.0,NaN,NaN
4,4,1997-06-02,ST,5,A,0,1600,GOOD TO FIRM,60-40,625000.0,4,25.45,23.52,23.31,23.56,NaN,NaN,NaN,25.45,48.97,72.28,95.84,NaN,NaN,NaN,2,10,1.0,NaN,15.5,28.0,17.5,NaN,2,36.5,NaN,NaN

In [36]:
## Merge shit based on horse id, historical

In [37]:
historical_df_runs = runs[['won', 'horse_type','finish_time','horse_id','race_id']]
historical_df_runs.head()
historical_df_races = races[['race_id', 'date', 'venue', 'config', 'distance', 'going', 'race_class']]
historical_df_races.head()

   race_id        date venue config  distance         going  race_class
0        0  1997-06-02    ST      A      1400  GOOD TO FIRM           5
1        1  1997-06-02    ST      A      1200  GOOD TO FIRM           5
2        2  1997-06-02    ST      A      1400  GOOD TO FIRM           4
3        3  1997-06-02    ST      A      1200  GOOD TO FIRM           1
4        4  1997-06-02    ST      A      1600  GOOD TO FIRM           4

In [38]:

historical_df_runs.join(historical_df_runs.groupby('horse_id')['finish_time'].agg(['mean']), on='horse_id')
#['mean']

       won horse_type  finish_time  horse_id  race_id        mean
0      0.0    Gelding        83.92      3917        0  114.681667
1      0.0    Gelding        83.56      2157        0  109.187187
2      0.0    Gelding        83.40       858        0   73.163182
3      0.0    Gelding        83.62      1853        0   88.761250
4      0.0    Gelding        83.24      2796        0   93.706667
...    ...        ...          ...       ...      ...         ...
79442  0.0    Gelding        96.17      1238     6348   73.628462
79443  0.0    Gelding        96.30       985     6348   96.738621
79444  0.0    Gelding        96.44      3147     6348   87.885000
79445  0.0    Gelding        96.34      1982     6348   82.815000
79446  0.0    Gelding        96.63      3491     6348   79.880000

[79447 rows x 6 columns]

In [39]:
historical_df = pd.merge(historical_df_runs, historical_df_races, on='race_id')

In [40]:
#historical_df.head()

#historical_df = historical_df.groupby('horse_id')
## For to use this, you can do something like this:
#avg_times = historical_df.groupby('horse_id')['finish_time'].mean() -> gets the average of finish time for horses with 
avg_times = historical_df.groupby('horse_id')['finish_time'].mean()
avg_times.head()

horse_id
0    94.493590
1    93.144231
2    82.738788
3    71.483333
4    83.708966
Name: finish_time, dtype: float64

In [41]:
## this kinda returns a df of dfs if that makes sense. Still gotta make it last 3, not all
historical_df = historical_df.groupby('horse_id').agg(lambda x: x.tolist())

In [42]:
historical_df.head()

,won,horse_type,finish_time,race_id,date,venue,config,distance,going,race_class
horse_id,,,,,,,,,,
0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[Gelding, Gelding, Gelding, Gelding, Gelding, ...","[72.08, 70.62, 71.29, 71.43, 96.74, 96.87, 101...","[3396, 3489, 3794, 3835, 3886, 3944, 4008, 403...","[2001-11-04, 2001-12-09, 2002-06-02, 2002-06-2...","[ST, ST, ST, ST, ST, ST, HV, ST, ST, ST, ST, S...","[A, A+3, B, A, B+2, B+2, B, A+3, A+3, A, C, C,...","[1200, 1200, 1200, 1200, 1600, 1600, 1650, 160...","[GOOD, GOOD, GOOD TO FIRM, GOOD TO FIRM, GOOD ...","[3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[Gelding, Gelding, Gelding, Gelding, Gelding, ...","[85.02, 86.33, 84.52, 84.54, 85.54, 101.49, 96...","[4129, 4194, 4249, 4306, 4342, 4400, 4463, 456...","[2002-10-13, 2002-11-10, 2002-12-01, 2002-12-2...","[ST, ST, ST, ST, ST, HV, ST, ST, ST, ST, ST, S...","[B+2, A+3, A, B+2, C+3, C, B+2, A+3, C, B+2, A...","[1400, 1400, 1400, 1400, 1400, 1650, 1600, 120...","[GOOD TO FIRM, GOOD, GOOD, GOOD, GOOD, GOOD, G...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, ..."
2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","[Gelding, Gelding, Gelding, Gelding, Gelding, ...","[95.51, 108.89, 58.6, 83.49, 82.54, 83.06, 69....","[2150, 2189, 2291, 2338, 2375, 2401, 2475, 254...","[2000-02-20, 2000-03-05, 2000-06-14, 2000-07-0...","[ST, ST, HV, ST, ST, ST, ST, ST, ST, ST, ST, S...","[B+2, C+3, C, A+3, B+2, A, A, B+2, C+3, A+3, C...","[1600, 1800, 1000, 1400, 1400, 1400, 1200, 140...","[GOOD TO FIRM, GOOD TO FIRM, GOOD, GOOD, GOOD,...","[2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 13, 2, 2, 2, 2,..."
3,"[0.0, 0.0, 0.0]","[Gelding, Gelding, Gelding]","[59.22, 70.4, 84.83]","[3813, 3851, 3939]","[2002-06-12, 2002-06-29, 2002-08-04]","[HV, ST, ST]","[C, A+3, B+2]","[1000, 1200, 1400]","[GOOD TO FIRM, GOOD TO FIRM, GOOD TO FIRM]","[4, 4, 4]"
4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[Gelding, Gelding, Gelding, Gelding, Gelding, ...","[70.65, 71.87, 71.5, 102.53, 71.4, 83.8, 57.9,...","[3136, 3173, 3258, 3306, 3377, 3397, 3459, 349...","[2001-07-22, 2001-08-05, 2001-09-05, 2001-09-2...","[ST, ST, HV, HV, HV, ST, HV, HV, ST, ST, ST, S...","[C+3, B+2, C, A, A, A, B, C, B+2, A+3, A, A, B...","[1200, 1200, 1200, 1650, 1200, 1400, 1000, 120...","[GOOD TO FIRM, GOOD, GOOD, GOOD, GOOD, GOOD, G...","[4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, ..."

In [43]:
## Take the features we want (This can be changed)

In [44]:
runs_features = runs[['race_id', 'won', 'horse_age', 'horse_country', 'horse_type',
                      'horse_rating', 'horse_gear', 'declared_weight', 'actual_weight',
                      'draw', 'win_odds', 'horse_id', 'finish_time']]

races_features = races[['race_id', 'date', 'venue', 'config', 'distance', 'going', 'race_class']]

In [45]:
## Merge the races and runs by race ID

In [46]:
df = pd.merge(runs_features, races_features, on='race_id')
df.head()

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,horse_id,finish_time,date,venue,config,distance,going,race_class
0,0,0.0,3,AUS,Gelding,60,--,1020.0,133,7,9.7,3917,83.92,1997-06-02,ST,A,1400,GOOD TO FIRM,5
1,0,0.0,3,NZ,Gelding,60,--,980.0,133,12,16.0,2157,83.56,1997-06-02,ST,A,1400,GOOD TO FIRM,5
2,0,0.0,3,NZ,Gelding,60,--,1082.0,132,8,3.5,858,83.40,1997-06-02,ST,A,1400,GOOD TO FIRM,5
3,0,0.0,3,SAF,Gelding,60,--,1118.0,127,13,39.0,1853,83.62,1997-06-02,ST,A,1400,GOOD TO FIRM,5
4,0,0.0,3,GB,Gelding,60,--,972.0,131,14,50.0,2796,83.24,1997-06-02,ST,A,1400,GOOD TO FIRM,5

In [47]:

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [48]:
previous_finish_times = pysqldf('''
        SELECT a.horse_id, a.race_id, avg(b.finish_time) as previous_finish_times
        FROM df a, df b 
        where a.horse_id = b.horse_id
        and a.race_id != b.race_id
        and a.date > b.date
        group by a.horse_id, a.race_id
        '''
        )

In [49]:
print(previous_finish_times.shape)
print(df.shape)
df = df.merge(previous_finish_times, on=['horse_id', 'race_id'], how='left')
print(df.shape)
df[df['horse_id'] == 905]

(75042, 3)
(79447, 19)
(79447, 20)

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,horse_id,finish_time,date,venue,config,distance,going,race_class,previous_finish_times
17,1,0.0,3,AUS,Gelding,60,--,1168.0,126,11,12.0,905,70.72,1997-06-02,ST,A,1200,GOOD TO FIRM,5,NaN
278,22,1.0,3,AUS,Gelding,60,--,1161.0,126,13,4.6,905,83.00,1997-06-08,ST,A+3,1400,GOOD TO FIRM,5,70.720000
2370,190,1.0,3,AUS,Gelding,60,--,1173.0,133,4,1.8,905,82.97,1997-08-17,ST,C,1400,GOOD TO FIRM,5,76.860000
3393,269,0.0,3,AUS,Gelding,60,--,1162.0,121,12,3.9,905,83.32,1997-09-18,ST,B+2,1400,GOOD TO FIRM,4,78.896667
3815,303,0.0,3,AUS,Gelding,60,--,1169.0,122,4,4.8,905,71.90,1997-10-01,HV,B,1200,GOOD,4,80.002500

In [50]:
pysqldf('''
        SELECT race_id, horse_id, date
        FROM df
        where horse_id = 905
        LIMIT 100;
        '''
        )

   race_id  horse_id        date
0        1       905  1997-06-02
1       22       905  1997-06-08
2      190       905  1997-08-17
3      269       905  1997-09-18
4      303       905  1997-10-01

In [51]:
df = df.dropna()
print(df.shape)
df[df['horse_id'] == 905]

(75041, 20)

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,horse_id,finish_time,date,venue,config,distance,going,race_class,previous_finish_times
278,22,1.0,3,AUS,Gelding,60,--,1161.0,126,13,4.6,905,83.00,1997-06-08,ST,A+3,1400,GOOD TO FIRM,5,70.720000
2370,190,1.0,3,AUS,Gelding,60,--,1173.0,133,4,1.8,905,82.97,1997-08-17,ST,C,1400,GOOD TO FIRM,5,76.860000
3393,269,0.0,3,AUS,Gelding,60,--,1162.0,121,12,3.9,905,83.32,1997-09-18,ST,B+2,1400,GOOD TO FIRM,4,78.896667
3815,303,0.0,3,AUS,Gelding,60,--,1169.0,122,4,4.8,905,71.90,1997-10-01,HV,B,1200,GOOD,4,80.002500

In [52]:
df = df.join(df.groupby('horse_id')['finish_time'].agg(['mean']), on='horse_id')

In [53]:
print(df.shape)
df.head()

(75041, 21)

,race_id,won,horse_age,horse_country,horse_type,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,horse_id,finish_time,date,venue,config,distance,going,race_class,previous_finish_times,mean
242,19,0.0,3,NZ,Gelding,60,--,1133.0,124,5,27.0,4061,96.01,1997-06-08,ST,A+3,1600,GOOD TO FIRM,4,96.92,110.571935
246,19,1.0,3,AUS,Gelding,60,--,1055.0,118,2,10.0,1785,95.20,1997-06-08,ST,A+3,1600,GOOD TO FIRM,4,101.57,101.357143
249,19,0.0,3,AUS,Gelding,60,--,1171.0,112,3,6.2,2170,95.30,1997-06-08,ST,A+3,1600,GOOD TO FIRM,4,82.64,105.139444
278,22,1.0,3,AUS,Gelding,60,--,1161.0,126,13,4.6,905,83.00,1997-06-08,ST,A+3,1400,GOOD TO FIRM,5,70.72,80.297500
346,28,1.0,3,NZ,Gelding,60,--,1087.0,131,4,9.3,1653,110.62,1997-06-11,HV,B,1800,GOOD TO YIELDING,4,101.56,106.352500

**Clean & Process the Data**

In [54]:
## Convert gear -> binary
df['horse_gear'] = np.where(df['horse_gear'] == '--', 0, 1)

df.columns
df = df.drop(columns=['date'])

In [55]:
## Categorical -> Numerical (one hot encoding)
df = pd.get_dummies(df)

In [56]:
df.head()

,race_id,won,horse_age,horse_rating,horse_gear,declared_weight,actual_weight,draw,win_odds,horse_id,finish_time,distance,race_class,previous_finish_times,mean,horse_country_ARG,horse_country_AUS,horse_country_BRZ,horse_country_CAN,horse_country_FR,horse_country_GB,horse_country_GER,horse_country_GR,horse_country_IRE,horse_country_ITY,horse_country_JPN,horse_country_NZ,horse_country_SAF,horse_country_SPA,horse_country_USA,horse_country_ZIM,horse_type_Brown,horse_type_Colt,horse_type_Filly,horse_type_Gelding,horse_type_Grey,horse_type_Horse,horse_type_Mare,horse_type_Rig,horse_type_Roan,venue_HV,venue_ST,config_A,config_A+3,config_B,config_B+2,config_C,config_C+3,going_FAST,going_GOOD,going_GOOD TO FIRM,going_GOOD TO YIELDING,going_SLOW,going_SOFT,going_WET FAST,going_WET SLOW,going_YIELDING,going_YIELDING TO SOFT
242,19,0.0,3,60,0,1133.0,124,5,27.0,4061,96.01,1600,4,96.92,110.571935,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
246,19,1.0,3,60,0,1055.0,118,2,10.0,1785,95.20,1600,4,101.57,101.357143,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
249,19,0.0,3,60,0,1171.0,112,3,6.2,2170,95.30,1600,4,82.64,105.139444,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
278,22,1.0,3,60,0,1161.0,126,13,4.6,905,83.00,1400,5,70.72,80.297500,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
346,28,1.0,3,60,0,1087.0,131,4,9.3,1653,110.62,1800,4,101.56,106.352500,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0

In [57]:
df.shape

(75041, 58)

In [31]:
#pd.set_option('max_columns', None)
df.columns
#df.head

<bound method NDFrame.head of        race_id  won  horse_age  horse_rating  horse_gear  declared_weight  \
242         19  0.0          3            60           0           1133.0
246         19  1.0          3            60           0           1055.0
249         19  0.0          3            60           0           1171.0
278         22  1.0          3            60           0           1161.0
346         28  1.0          3            60           0           1087.0
...        ...  ...        ...           ...         ...              ...
79442     6348  0.0          5            87           1           1191.0
79443     6348  0.0          5            84           0           1070.0
79444     6348  0.0          5            83           1           1148.0
79445     6348  0.0          3            82           0           1266.0
79446     6348  0.0          3            81           0           1092.0

       actual_weight  draw  win_odds  horse_id  finish_time  distance  \
242              124     5      27.0      4061        96.01      1600
246              118     2      10.0      1785        95.20      1600
249              112     3       6.2      2170        95.30      1600
278              126    13       4.6       905        83.00      1400
346              131     4       9.3      1653       110.62      1800
...              ...   ...       ...       ...          ...       ...
79442            122     6      99.0      1238        96.17      1600
79443            119     4      99.0       985        96.30      1600
79444            120     1      99.0      3147        96.44      1600
79445            119    12       4.6      1982        96.34      1600
79446            118     2      99.0      3491        96.63      1600

       race_class  previous_finish_times        mean  horse_country_ARG  \
242             4              96.920000  110.571935                  0
246             4             101.570000  101.357143                  0
249             4              82.640000  105.139444                  0
278             5              70.720000   80.297500                  0
346             4             101.560000  106.352500                  0
...           ...                    ...         ...                ...
79442           2              72.726800   73.737600                  0
79443           2              96.754286   97.669286                  0
79444           2              87.226923   89.348462                  0
79445           2              69.290000   96.340000                  0
79446           2              71.505000   83.640000                  0

       horse_country_AUS  horse_country_BRZ  horse_country_CAN  \
242                    0                  0                  0
246                    1                  0                  0
249                    1                  0                  0
278                    1                  0                  0
346                    0                  0                  0
...                  ...                ...                ...
79442                  1                  0                  0
79443                  0                  0                  0
79444                  0                  0                  0
79445                  1                  0                  0
79446                  0                  0                  0

       horse_country_FR  horse_country_GB  horse_country_GER  \
242                   0                 0                  0
246                   0                 0                  0
249                   0                 0                  0
278                   0                 0                  0
346                   0                 0                  0
...                 ...               ...                ...
79442                 0                 0                  0
79443                 0                 0                  0
79444                 0                 0                  0
79445                 0                 0                  0
79446                 0                 0                  0

       horse_country_GR  horse_country_IRE  horse_country_ITY  \
242                   0                  0                  0
246                   0                  0                  0
249                   0                  0                  0
278                   0                  0                  0
346                   0                  0                  0
...                 ...                ...                ...
79442                 0                  0                  0
79443                 0                  0                  0
79444                 0                  0                  0
79445                 0                  0                  0
79446                 0                  1                  0

       horse_country_JPN  horse_country_NZ  horse_country_SAF  \
242                    0                 1                  0
246                    0                 0                  0
249                    0                 0                  0
278                    0                 0                  0
346                    0                 1                  0
...                  ...               ...                ...
79442                  0                 0                  0
79443                  0                 1                  0
79444                  0                 1                  0
79445                  0                 0                  0
79446                  0                 0                  0

       horse_country_SPA  horse_country_USA  horse_country_ZIM  \
242                    0                  0                  0
246                    0                  0                  0
249                    0                  0                  0
278                    0                  0                  0
346                    0                  0                  0
...                  ...                ...                ...
79442                  0                  0                  0
79443                  0                  0                  0
79444                  0                  0                  0
79445                  0                  0                  0
79446                  0                  0                  0

       horse_type_Brown  horse_type_Colt  horse_type_Filly  \
242                   0                0                 0
246                   0                0                 0
249                   0                0                 0
278                   0                0                 0
346                   0                0                 0
...                 ...              ...               ...
79442                 0                0                 0
79443                 0                0                 0
79444                 0                0                 0
79445                 0                0                 0
79446                 0                0                 0

       horse_type_Gelding  horse_type_Grey  horse_type_Horse  horse_type_Mare  \
242                     1                0                 0                0
246                     1                0                 0                0
249                     1                0                 0                0
278                     1                0                 0                0
346                     1                0                 0                0
...                   ...              ...               ...              ...
79442                   1                0                 0                0
79443                   1                0                 0                0
79444                   1                0                 0                0
79445                   1                0                 0                0
79446                   1                0                 0                0

       horse_type_Rig  horse_type_Roan  date_1997-06-08  date_1997-06-11  \
242                 0                0                1                0
246                 0                0                1                0
249                 0                0                1                0
278                 0                0                1                0
346                 0                0                0                1
...               ...              ...              ...              ...
79442               0                0                0                0
79443               0                0                0                0
79444               0                0                0                0
79445               0                0                0                0
79446               0                0                0                0

       date_1997-06-15  date_1997-06-18  date_1997-06-22  date_1997-06-25  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-06-29  date_1997-07-02  date_1997-07-06  date_1997-07-13  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-07-16  date_1997-07-20  date_1997-07-22  date_1997-07-26  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-08-03  date_1997-08-06  date_1997-08-10  date_1997-08-13  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-08-17  date_1997-08-20  date_1997-08-23  date_1997-08-27  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-08-31  date_1997-09-03  date_1997-09-06  date_1997-09-14  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-09-18  date_1997-09-21  date_1997-09-24  date_1997-09-27  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-10-01  date_1997-10-05  date_1997-10-08  date_1997-10-11  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-10-15  date_1997-10-19  date_1997-10-22  date_1997-10-26  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-10-29  date_1997-11-02  date_1997-11-05  date_1997-11-09  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-11-12  date_1997-11-16  date_1997-11-19  date_1997-11-22  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-11-26  date_1997-11-30  date_1997-12-03  date_1997-12-07  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0
346                  0                0                0                0
...                ...              ...              ...              ...
79442                0                0                0                0
79443                0                0                0                0
79444                0                0                0                0
79445                0                0                0                0
79446                0                0                0                0

       date_1997-12-13  date_1997-12-17  date_1997-12-21  date_1997-12-24  \
242                  0                0                0                0
246                  0                0                0                0
249                  0                0                0                0
278                  0                0                0                0

### Models

In [179]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn import linear_model
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

## This is predicting whether a horse wins the race or not.
X_data = df.drop(columns=['won','race_id','win_odds'])
#drop 'won' cause that's the Y, drop race_id cause its noise?
## Theres definitely a better way to do this. We should be predicting which horse out of n horses in race x wins, not if horse is a winner in general
## Maybe we can compare the "likelihood of winning" for all n horses in race X, choose winner based on that, but then we need a model which gives us likelihood

## I hope this works, im trying to get a df of only the win_odds for testing purposes later
Y_data = df[['won', 'win_odds']]


## Probably a better sampling method, but idk this is easiest
X_train, X_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=.2, random_state=69)

only_odds = y_test.drop(columns=['won'])
y_train = y_train.drop(columns=['win_odds'])
y_train = y_train.values.ravel()
#print(y_train)
y_test = y_test.drop(columns=['win_odds'])
y_test = y_test.values.ravel()
only_odds = only_odds.values.ravel()

In [180]:
print("X_train.shape", X_train.shape)
print("y_train.shape", len(y_train), "#Winners:", sum(y_train))
print("X_test.shape", X_test.shape)
print("y_test.shape", len(y_test), "#Winners:", sum(y_test))

X_train.shape (63557, 735)
y_train.shape 63557 #Winners: 5094.0
X_test.shape (15890, 735)
y_test.shape 15890 #Winners: 1266.0

In [32]:
clf_knn = KNeighborsClassifier(n_neighbors=8)
clf_id3 = tree.DecisionTreeClassifier(criterion="entropy", max_depth=10)
clf_id3_overfit = tree.DecisionTreeClassifier(criterion="entropy")
clf_cart = tree.DecisionTreeClassifier(max_depth=10)
clf_bayes = GaussianNB()
clf_rbf = SVC(probability=True)
clf_forest = RandomForestClassifier()
clf_boost = AdaBoostClassifier(base_estimator=tree.DecisionTreeClassifier(max_depth=2), random_state=69)
clf_mlp = MLPClassifier(hidden_layer_sizes=(50,50,), max_iter=1000, tol=0.001, random_state=420)

clf_knn.fit(X_train, y_train)
clf_id3.fit(X_train, y_train)
clf_id3_overfit.fit(X_train, y_train)
clf_cart.fit(X_train, y_train)
clf_bayes.fit(X_train, y_train)
clf_rbf.fit(X_train, y_train)
clf_forest.fit(X_train, y_train)
clf_boost.fit(X_train, y_train)
clf_mlp.fit(X_train, y_train)

y_pred_knn = clf_knn.predict(X_test)
y_pred_id3 = clf_id3.predict(X_test)
y_pred_id3_of = clf_id3_overfit.predict(X_test)
y_pred_cart = clf_cart.predict(X_test)
y_pred_bayes = clf_bayes.predict(X_test)
y_pred_rbf = clf_rbf.predict(X_test)
y_pred_forest = clf_forest.predict(X_test)
y_pred_boost = clf_boost.predict(X_test)
y_pred_mlp = clf_mlp.predict(X_test)

KeyboardInterrupt:

In [156]:
clf_ridge = linear_model.RidgeClassifier(alpha=.5, class_weight='balanced')
clf_ridge.fit(X_train, y_train)
y_pred_ridge = clf_ridge.predict(X_test)

In [157]:
print("- Ridge:\n", metrics.classification_report(y_test, y_pred_ridge))

- Ridge:
               precision    recall  f1-score   support

         0.0       0.96      0.66      0.78     13818
         1.0       0.15      0.68      0.24      1191

    accuracy                           0.66     15009
   macro avg       0.55      0.67      0.51     15009
weighted avg       0.90      0.66      0.74     15009

In [158]:
bankroll_ridge = 0

#print(y_test.shape)
#print(only_odds.shape)
#print(y_test[61253])
i = 0

for index, run in X_test.iterrows():
    #print(index)
    #bet a dollar to place (need to change this to win...)
    prediction_knn = clf_ridge.predict([run])

    
    #print(prediction)
    odds = only_odds[i]
    if prediction_knn:
        if (y_test[i] == 1):
            bankroll_ridge += odds
        else:
            bankroll_ridge -= 1
            
    i += 1

In [159]:
print(bankroll_ridge)

1974.0000000000002

In [29]:
print("Accuracy:")
print("- KNN:", metrics.accuracy_score(y_test, y_pred_knn))
print("- ID3:", metrics.accuracy_score(y_test, y_pred_id3))
print("- ID3 (overfitting):", metrics.accuracy_score(y_test, y_pred_id3_of))
print("- CART:", metrics.accuracy_score(y_test, y_pred_cart))
print("- Naive Bayes:", metrics.accuracy_score(y_test, y_pred_bayes))
print("- RBF Kernel SVC:", metrics.accuracy_score(y_test, y_pred_rbf))
print("- Random Forest:", metrics.accuracy_score(y_test, y_pred_forest))
print("- AdaBoost:", metrics.accuracy_score(y_test, y_pred_boost))
print("- MLP:", metrics.accuracy_score(y_test, y_pred_mlp))

Accuracy:

NameError: name 'y_pred_knn' is not defined

In [57]:
## More Metrics!
print("- KNN:\n", metrics.classification_report(y_test, y_pred_knn))
print("- ID3:\n", metrics.classification_report(y_test, y_pred_id3))
print("")
print("- ID3 (overfitting):\n", metrics.classification_report(y_test, y_pred_id3_of))
print("")
print("- CART:\n", metrics.classification_report(y_test, y_pred_cart))
print("")
print("- Naive Bayes:\n", metrics.classification_report(y_test, y_pred_bayes))
print("")
print("- RBF Kernel SVC:\n", metrics.classification_report(y_test, y_pred_rbf))
print("")
print("- Random Forest:\n", metrics.classification_report(y_test, y_pred_forest, zero_division=0))
print("")
print("- AdaBoost:\n", metrics.classification_report(y_test, y_pred_boost))
print("")
print("- MLP:\n", metrics.classification_report(y_test, y_pred_mlp))
print("")

- KNN:
               precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     14604
         1.0       0.30      0.00      0.00      1285

    accuracy                           0.92     15889
   macro avg       0.61      0.50      0.48     15889
weighted avg       0.87      0.92      0.88     15889

- ID3:
               precision    recall  f1-score   support

         0.0       0.92      0.99      0.96     14604
         1.0       0.37      0.06      0.11      1285

    accuracy                           0.92     15889
   macro avg       0.65      0.53      0.53     15889
weighted avg       0.88      0.92      0.89     15889


- ID3 (overfitting):
               precision    recall  f1-score   support

         0.0       0.93      0.92      0.93     14604
         1.0       0.19      0.21      0.20      1285

    accuracy                           0.87     15889
   macro avg       0.56      0.56      0.56     15889
weighted avg       0.87      0.87      0.87     15889


- CART:
               precision    recall  f1-score   support

         0.0       0.92      0.99      0.95     14604
         1.0       0.33      0.06      0.10      1285

    accuracy                           0.91     15889
   macro avg       0.63      0.53      0.53     15889
weighted avg       0.88      0.91      0.89     15889


- Naive Bayes:
               precision    recall  f1-score   support

         0.0       0.92      0.97      0.94     14604
         1.0       0.09      0.04      0.05      1285

    accuracy                           0.89     15889
   macro avg       0.51      0.50      0.50     15889
weighted avg       0.85      0.89      0.87     15889


- RBF Kernel SVC:
               precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     14604
         1.0       0.00      0.00      0.00      1285

    accuracy                           0.92     15889
   macro avg       0.46      0.50      0.48     15889
weighted avg       0.84      0.92      0.88     15889


- Random Forest:
               precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     14604
         1.0       0.50      0.00      0.00      1285

    accuracy                           0.92     15889
   macro avg       0.71      0.50      0.48     15889
weighted avg       0.89      0.92      0.88     15889


- AdaBoost:
               precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     14604
         1.0       0.50      0.03      0.06      1285

    accuracy                           0.92     15889
   macro avg       0.71      0.51      0.51     15889
weighted avg       0.89      0.92      0.89     15889


- MLP:
               precision    recall  f1-score   support

         0.0       0.92      1.00      0.96     14604
         1.0       0.00      0.00      0.00      1285

    accuracy                           0.92     15889
   macro avg       0.46      0.50      0.48     15889
weighted avg       0.84      0.92      0.88     15889

/Users/jamieheneghan/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [58]:
## Maybe we should do regression on 'won' feature so we can get a probability value instead of binary value
## Idk, this is just a start

### Betting \$1 on Every Predicted Winner

In [59]:
## loop through every run in the test data
## predict whether its a winner or not, and then use the odds of the run to add/subtract profit
bankroll_knn = 0
bankroll_id3 = 0
bankroll_id3_of = 0
bankroll_cart = 0
bankroll_bayes = 0
bankroll_rbf = 0
bankroll_forest = 0
bankroll_boost = 0
bankroll_mlp = 0

#print(y_test.shape)
#print(only_odds.shape)
#print(y_test[61253])
i = 0

for index, run in X_test.iterrows():
    #print(index)
    #bet a dollar to place (need to change this to win...)
    prediction_knn = clf_knn.predict([run])
    prediction_id3 = clf_id3.predict([run])
    prediction_id3_of = clf_id3_overfit.predict([run])
    prediction_cart = clf_cart.predict([run])
    prediction_bayes = clf_bayes.predict([run])
    prediction_rbf = clf_rbf.predict([run])
    prediction_forest = clf_forest.predict([run])
    prediction_boost = clf_boost.predict([run])
    prediction_mlp = clf_mlp.predict([run])
    
    #print(prediction)
    odds = only_odds[i]
    if prediction_knn:
        if (y_test[i] == 1):
            bankroll_knn += odds
        else:
            bankroll_knn -= 1
            
    if prediction_id3:
        if (y_test[i] == 1):
            bankroll_id3 += odds
        else:
            bankroll_id3 -= 1
    
    if prediction_id3_of:
        if (y_test[i] == 1):
            bankroll_id3_of += odds
        else:
            bankroll_id3_of -= 1
    
    if prediction_cart:
        if (y_test[i] == 1):
            bankroll_cart += odds
        else:
            bankroll_cart -= 1
    
    if prediction_bayes:
        if (y_test[i] == 1):
            bankroll_bayes += odds
        else:
            bankroll_bayes -= 1
            
    if prediction_rbf:
        if (y_test[i] == 1):
            bankroll_rbf += odds
        else:
            bankroll_rbf -= 1
            
    if prediction_forest:
        if (y_test[i] == 1):
            bankroll_forest += odds
        else:
            bankroll_forest -= 1
            
    if prediction_boost:
        if (y_test[i] == 1):
            bankroll_boost += odds
        else:
            bankroll_boost -= 1
    
    if prediction_mlp:
        if (y_test[i] == 1):
            bankroll_mlp += odds
        else:
            bankroll_mlp -= 1

    i += 1

In [60]:
print("-----Betting 1 on Every Predicted Winner-----")
print("Bankroll KNN: $", round(bankroll_knn,2))
print("Bankroll ID3: $", round(bankroll_id3,2))
print("Bankroll ID3_OF: $", round(bankroll_id3_of,2))
print("Bankroll CART: $", round(bankroll_cart,2))
print("Bankroll Bayes: $", round(bankroll_bayes,2))
print("Bankroll rbf: $", round(bankroll_rbf,2))
print("Bankroll Forest: $", round(bankroll_forest,2))
print("Bankroll boost: $", round(bankroll_boost,2))
print("Bankroll mlp: $", round(bankroll_mlp,2))

-----Betting 1 on Every Predicted Winner-----
Bankroll KNN: $ -2.2
Bankroll ID3: $ 432.5
Bankroll ID3_OF: $ 904.0
Bankroll CART: $ 420.6
Bankroll Bayes: $ -54.2
Bankroll rbf: $ 0
Bankroll Forest: $ 37.4
Bankroll boost: $ 217.9
Bankroll mlp: $ 0

## Betting $1 on Every Horse whose "True Odds" are better than Odds Given

In [61]:
## loop through every run in the test data
## predict whether its a winner or not, and then use the odds of the run to add/subtract profit

# I only really care about TP and FP cause we only bet on a predicted positive
bankroll_knn = 0
knn_TP, knn_FP = 0, 0

bankroll_id3 = 0
id3_TP, id3_FP = 0, 0

bankroll_id3_of = 0
id3_of_TP, id3_of_FP = 0, 0

bankroll_cart = 0
cart_TP, cart_FP = 0, 0

bankroll_bayes = 0
bayes_TP, bayes_FP = 0, 0

bankroll_rbf = 0
rbf_TP, rbf_FP = 0, 0

bankroll_forest = 0
forest_TP, forest_FP = 0, 0

bankroll_boost = 0
boost_TP, boost_FP = 0, 0

bankroll_mlp = 0
mlp_TP, mlp_FP = 0, 0

#print(y_test.shape)
#print(only_odds.shape)
#print(y_test[61253])
i = 0

print(only_odds[0])

#Probably a better way to do this
for index, run in X_test.iterrows():
    #print(index)
    #bet a dollar to place (need to change this to win...)
    prediction_knn = clf_knn.predict_proba([run])
    prediction_id3 = clf_id3.predict_proba([run])
    prediction_id3_of = clf_id3_overfit.predict_proba([run])
    prediction_cart = clf_cart.predict_proba([run])
    prediction_bayes = clf_bayes.predict_proba([run])
    prediction_rbf = clf_rbf.predict_proba([run])
    prediction_forest = clf_forest.predict_proba([run])
    prediction_boost = clf_boost.predict_proba([run])
    prediction_mlp = clf_mlp.predict_proba([run])
    
    #print(prediction)
    
    ## Decimal odds -> implied odds = 1/(decimal odds)
    implied_odds = 1.0/only_odds[i]
    odds = only_odds[i]
    
    
    if prediction_knn[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_knn += odds
            knn_TP += 1
        else:
            bankroll_knn -= 1
            knn_FP += 1
            
    if prediction_id3[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_id3 += odds
            id3_TP += 1
        else:
            bankroll_id3 -= 1
            id3_FP += 1
    
    if prediction_id3_of[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_id3_of += odds
            id3_of_TP += 1
        else:
            bankroll_id3_of -= 1
            id3_of_FP += 1
    
    if prediction_cart[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_cart += odds
            cart_TP += 1
        else:
            bankroll_cart -= 1
            cart_FP += 1
    
    if prediction_bayes[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_bayes += odds
            bayes_TP += 1
        else:
            bankroll_bayes -= 1
            bayes_FP += 1
            
    if prediction_rbf[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_rbf += odds
            rbf_TP += 1
        else:
            bankroll_rbf -= 1
            rbf_FP += 1
            
    if prediction_forest[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_forest += odds
            forest_TP += 1
        else:
            bankroll_forest -= 1
            forest_FP += 1
            
    if prediction_boost[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_boost += odds
            boost_TP += 1
        else:
            bankroll_boost -= 1
            boost_FP += 1
    
    if prediction_mlp[0][1] > implied_odds:
        if (y_test[i] == 1):
            bankroll_mlp += odds
            mlp_TP += 1
        else:
            bankroll_mlp -= 1
            mlp_FP += 1

    i += 1

99.0

In [62]:
print("-----Betting 1 on Every Predicted Winner-----")
print("Bankroll KNN: $", round(bankroll_knn,2))
print("Bankroll ID3: $", round(bankroll_id3,2))
print("Bankroll ID3_OF: $", round(bankroll_id3_of,2))
print("Bankroll CART: $", round(bankroll_cart,2))
print("Bankroll Bayes: $", round(bankroll_bayes,2))
print("Bankroll rbf: $", round(bankroll_rbf,2))
print("Bankroll Forest: $", round(bankroll_forest,2))
print("Bankroll boost: $", round(bankroll_boost,2))
print("Bankroll mlp: $", round(bankroll_mlp,2),"\n")

print("KNN TP: ", knn_TP, "KNN FP: ", knn_FP)
print("ID3 TP: ", id3_TP, "ID3 FP: ", id3_FP)
print("ID3_OF TP: ", id3_of_TP, "ID3_OF FP: ", id3_of_FP)
print("CART TP: ", cart_TP, "CART FP: ", cart_FP)
print("BAYES TP: ", bayes_TP, "BAYES FP: ", bayes_FP)
print("rbf TP: ", rbf_TP, "rbf FP: ", rbf_FP)
print("forest TP: ", forest_TP, "forest FP: ", forest_FP)
print("boost TP: ", boost_TP, "boost FP: ", boost_FP)
print("mlp TP: ", mlp_TP, "mlp FP: ", mlp_FP)

-----Betting 1 on Every Predicted Winner-----
Bankroll KNN: $ -844.5
Bankroll ID3: $ 1368.0
Bankroll ID3_OF: $ 904.0
Bankroll CART: $ 1558.3
Bankroll Bayes: $ -2571.7
Bankroll rbf: $ -2373.7
Bankroll Forest: $ -109.0
Bankroll boost: $ -2635.0
Bankroll mlp: $ -2047.0

KNN TP:  335 KNN FP:  5606
ID3 TP:  471 ID3 FP:  5475
ID3_OF TP:  264 ID3_OF FP:  1108
CART TP:  474 CART FP:  5584
BAYES TP:  591 BAYES FP:  11009
rbf TP:  273 rbf FP:  8997
forest TP:  455 forest FP:  7490
boost TP:  1210 boost FP:  14514
mlp TP:  180 mlp FP:  7311

In [ ]:
# so that didn't work ^
# We can try using a betting Criterion (Kelly Criterion) which changes amount bet based on perceived advantage.
#
# we could also try regression on time to complete the race, and compare the predicted time for each horse in a race
#
# we should also optimize the models, experiment with more / different features (avg speed of last N races for example)
#
# Features used in Bolton and Chapman:
# Lifetime Win %, Average Speed Rating, Winnings/Race past year, Weight, Post Position, New Distance?, Last Speed Rating, Jockey Win Percent, Jockey Win #
# I think most of these can be calculated form our data. 

#this is just a start

In [ ]:
##linear regression time
#simple betting strategy for ridge (linear regression)

In [74]:
bankroll_ridge = 0
ridge_TP, ridge_FP = 0, 0

#print(y_test.shape)
#print(only_odds.shape)
#print(y_test[61253])
i = 0

print(only_odds[0])

#Probably a better way to do this
for index, run in X_test.iterrows():
    #print(index)
    #bet a dollar to place (need to change this to win...)
    d = clf_ridge.decision_function([run])
    prediction_ridge = np.interp(d[0],[-1,1],[0,1])
    
    
    #print(prediction)
    
    ## Decimal odds -> implied odds = 1/(decimal odds)
    implied_odds = 1.0/only_odds[i]
    odds = only_odds[i]
    
    
    if prediction_ridge > implied_odds:
        if (y_test[i] == 1):
            bankroll_ridge += odds
            ridge_TP += 1
        else:
            bankroll_ridge -= 1
            ridge_FP += 1
            
            
    

    i += 1

99.0

In [75]:
print("Ridge (linear regression)$", bankroll_ridge)

Ridge (linear regression)$ -1869.999999999998

In [76]:
print("Ridge TP:", ridge_TP)
print("Ridge FP:", ridge_FP)

Ridge TP: 1245
Ridge FP: 13803

In [ ]:
## I think ridge (simple linear regression) is still best, it gives us an actual probability.
#  Our main focus should be finding a way to compare horses in the same race, as thats what we'd actually do at the track
#  Once that's done, we can figure out betting strategies etc and evaluation metrics. Doesn't necessarily have to be profitable, 
#  we just have to be able to show that we put some work in on the project. 
#  
#  If anyone wants to work on this, we need to reorganize the data in a way where we can organize by race_id. 
#  look into df.groupby, we can group by raceID and then loop through each race ID and predict for each horse
#  We should also seperate train and test by race, because now the training and testing can both feature runs from the same race.
#  We can also look into balancing the labels in training data, and sorting train/test chronologically, but not high priority I think.